/* often changed css begin, please leave empty selectors */
.toctoc-comments-pi1 {
	margin: 0;
	font-size: 100%;
	line-height: 16px;
}
div.tx-tc-pi1 {
	margin: 0;
	font-size: 100%;
}
/* 1) forced size of the font of the labels in the form */
.tx-tcfh {
	font-size: 100%;
	padding: 0 0 0 2px;
}
/* 2) submit buttons  */
.tx-tc-ct-submit, .tx-tc-ct-reset, .tx-tc-ct-submit-loggedin {
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	line-height: normal !important;
	outline: medium none;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	padding: 3px;
	font-size: 100%;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px 4px 4px 4px;
	opacity: 1;
	text-shadow: 0;
	box-shadow: 0;
}
.tx-tc-ct-submit:hover, .tx-tc-ct-reset:hover, .tx-tc-ct-submit-loggedin:hover {
}
.tx-tc-ct-reset {
	height: auto;
	margin: 4px 0 5px 0px;
	opacity: 1;
}
.tx-tc-ct-cap-message {
	white-space: normal;
	padding: 0 0 0 2px;
}
.tx-tc-cts-ctsbrowse {
	/*  used in code */
	height: 24px;
	margin: 0;
	line-height: 24px;
}
.tx-tc-cts-ctsbrowse-hide {
	float: right;
	margin-bottom: -24px;
	position: relative;
	top: -24px;
	line-height: 24px;
}
.tx-tc-pi1 .tx-tc-cts-form-fieldtextarea, .tx-tc-pi1 .tx-tc-cts-form-fieldtextarea-1 {
	margin: 0;
	padding: 4px 0;
}
.tx-tc-ct-ry-report-line .tx-tc-pi1 .tx-tc-cts-form-fieldtextarea, .tx-tc-pi1 .tx-tc-cts-form-fieldtextarea-1 {
	min-height: 28px;
}
.tx-tc-ct-rply div.tx-tc-pi1 .tx-tc-ct-box-cttxt {
	margin-top: 0px;
}
.tx-tc-ct-box .tx-tc-ct-box-empty {
	padding: 0;
}
.tx-tc-ct-rply div.tx-tc-pi1 .tx-tc-state-0 .tx-tc-ct-box-cttxt {
	margin-left: 4px;
}
.tx-tc-required {
	font-weight: bold;
}
.tx-tc-cts {
	font-size: 100%;
}
.tx-tc-myrts-ilke .tx-tc-ct-uc-text img {
	margin-right: 4px;
}
.tx-tc-ct-deleteform, .tx-tc-ct-editform {
	float: left;
}
.tx-tc-ct-denotifyform {
	float: right;
	margin: 0 0 0 2px;
}
.tx-tc-ct-actionforms {
	display: inline-block;
	float: right;
	padding: 4px;
	margin: -3px -18px 0 -33px;
}
textarea.tx-tc-ctinput-textarea {
	width: 100%;
	overflow: hidden;
	border-style: solid;
	border-width: 1px;
	font-size: 105%;
	line-height: 20px;
}
.tx-tc-ct-ry-report-line textarea.tx-tc-ctinput-textarea {
	margin: 5px 2px 0px -2px;
}
#cap-wrap {
	-webkit-border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	height: 110px;
	margin-top: 3px;
	padding: 3px;
	text-align: left;
	width: 270px;
}
#cap-wrap .text-box {
	width: 140px;
	padding-bottom: 4px;
	float: left;
	margin: 4px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border-width: 1px;
	border-style: solid;
	text-align: center;
}
/* often changed css end */
/* often changed css begin ratings (rts) */
.tx-tc-myrts-ilke {
	float: left;
	line-height: 17px;
	margin: -1px 0 0;
}
.tx-tc-myrts-disilke {
	float: left;
	line-height: 17px;
	margin: -1px 0 0;
}
.tx-tc-ct-box .tx-tc-ct-box-cttxt .tx-tc-myrts-dp .tx-tc-myrts-ilke {
	margin-top: 1px;
}
.tx-tc-ct-box .tx-tc-ct-box-cttxt .tx-tc-myrts-dp .tx-tc-myrts-disilke {
	margin-top: 1px;
}
.tx-tc-ct-uc-text-contact, .tx-tc-ct-uc-text-stats, .tx-tc-ct-uc-text-ip, .tx-tc-ct-form-field-fup {
	border-radius: 0 4px 2px 4px;
	box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.05);
	border-style: solid;
	border-width: 1px;
}
.tx-tc-myrts-disilke img {
	float: left;
	margin: 2px 0 -2px 2px;
	border: 0;
}
.tx-tc-myrts-ilke img {
	float: left;
	border: 0;
	margin: 0 0 0 2px;
}
.tx-tc-rts {
	left: 0;
	margin: 3px 0 0 4px;
	position: relative;
	top: 0;
	list-style-type: none;
}
.tx-tc-atrts-dp .tx-tc-rts {
	left: 0;
	list-style-type: none;
	margin: 0 0 0 -2px;
	top: 0;
}
.tx-tc-ct-admin {
	margin: 10px 20px;
	padding: 5px 9px;
	text-align: center;
}
.tx-tc-ct-form BR {
	clear: left;
}
.tx-tc-ct-name {
	font-weight: bold;
}
.tx-tc-ct-1, .tx-tc-ct-2 {
	margin-bottom: 10px;
	padding: 3px 5px;
	border-style: solid;
	border-width: 1px;
}
.tx-tc-ct-content {
	padding: 3px 0;
	text-align: justify;
}
.tx-tc-required-error {
	font-weight: bold;
}
.tx-tc-cap {
	padding-left: 100px;
}
.tx-tc-cap IMG {
	margin-left: 0px;
	border-width: 1px;
	border-style: solid;
}
.tx-tc-form-top-message {
	font-weight: bold;
	min-height: 17px;
}
.tx-tc-closed {
	padding: 2px 0 0;
}
.tx-tc-closed IMG {
	vertical-align: baseline;
	margin-left: 4px;
	padding-right: 4px;
}
.tx-tc-ct-report {
	float: left;
	margin: 0 0 0 2px;
	opacity: 0.4;
	padding: 0px 0 0;
}
.tx-tc-ct-report:hover {
	opacity: 1;
}
.tx-tc-ct-editbutton:hover, .tx-tc-ct-deletebutton:hover, .tx-tc-ct-denotifybutton:hover {
	opacity: 1;
}
.tx-tc-ct-editbutton, .tx-tc-ct-deletebutton, .tx-tc-ct-denotifybutton {
	border: 0;
	border-radius: 2px 2px 2px 2px;
	cursor: pointer;
	font-size: 7px;
	font-weight: bold;
	height: 16px;
	line-height: normal !important;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	width: 16px;
	opacity: 0.4;
	filter: alpha(opacity=60);
}
.tx-tc-upload {
	opacity: 0.4;
}
.tx-tc-upload:hover {
	opacity: 1;
}
form.tx-tc-form-for-newcomment {
	border: 0 none;
	left: 0;
	margin: 0;
	min-height: 32px;
	padding: 0 0 8px;
	top: 0;
}
.tx-tc-cts-ctsbrowse-submit, .tx-tc-cts-ctsbrowse-submit-hide {
	/*  used in code */
	border: 0;
	background: none repeat scroll 0 0 transparent;
	cursor: pointer;
	font-size: 100%;
	line-height: normal !important;
	text-align: left;
	text-decoration: none;
	white-space: nowrap;
	opacity: 0.8;
	filter: alpha(opacity=80);
	padding: 0 2px;
}
.tx-tc-ct-browseform-hide {
	margin: 0;
}
.tx-tc-ct-browseform {
	margin: 0;
}
.tx-tc-ct-rply .tx-tc-divtextarea {
}
.tx-tc-divtextarea {
	position: relative;
}
div.tx-tc-ct-form-field {
	margin-right: 4px;
	padding: 4px 0px 4px 0px;
	min-height: 20px;
	font-size: 100%;
	float: left;
	width: 90%;
}
.tx-tc-ct-form-field-upload {
	margin-right: 4px;
	padding: 4px 0px 4px 0px;
	min-height: 20px;
	font-size: 100%;
	width: 20px;
	margin-top: 0px;
}
div.tx-tc-ct-form-field-1, div.tx-tc-ct-form-field-1nl {
	padding: 4px 0px 4px 0px;
	line-height: 20px;
}
div.tx-tc-ct-form-field-recap {
	padding: 4px 0px 4px 0px;
}
input.tx-tc-ct-input {
	position: relative;
	border-style: solid;
	border-width: 1px;
	min-height: 20px;
	padding: 0 2px;
}
.tx-tc-ct-form-field-cap input.tx-tc-ct-input {
	margin: 0 0 0 4px;
	min-height: 20px;
}
.tx-tc-ct-label, .tx-tc-ct-label-cap {
	float: left;
	font-weight: bold;
	line-height: 20px;
	width: 134px;
	margin: 0 -2px 0 2px;
	min-height: 20px;
	overflow: hidden;
	white-space: nowrap;
}
.tx-tc-ct-form-field-cap {
	margin-bottom: 6px;
	padding: 4px 0;
	position: absolute;
	width: 480px;
	min-height: 20px;
}
.tx-tc-ct-cap-area {
}
.tx-tc-ct-cap-area-image {
	float: left;
	margin: 0 1px 0 0;
	padding: 0;
}
.tx-tc-ct-cap-area .tx-tc-ct-cap-area-cantreadit .tx-srfreecap-pi2-cant-read, .tx-tc-ct-cap-area-cantread {
	float: left;
	margin-left: 138px;
	padding: 4px 0;
}
.tx-tc-ct-cap-area-accessible {
	margin: -9px 0 0 6px;
	padding: 4px 0;
	position: absolute;
	width: 150px;
}
.tx-tc-ct-cap-area-notice {
	padding: 4px 0;
}
.tx-tc-ct-cap-area .tx-tc-ct-cap-area-cantreadit .tx-srfreecap-pi2-cant-read, .tx-tc-ct-cap-area-cantread .tx-srfreecap-pi2-cant-read {
	float: left;
	margin: 0;
	position: relative;
	width: 200px;
}
span.tx-srfreecap-pi2-accessible {
	padding: 0 4px;
}
.tx-tc-div-submit {
	padding: 4px 0 4px 2px;
	width: 85%;
}
.tx-tc-ct-box {
	left: 0;
	min-height: 25px;
	top: 0;
	padding: 0 18px 0px 0;
}
.tx-tc-text {
	width: 93%;
	margin: 0;
	line-height: 16px;
}
.tx-tc-text-top {
	width: 99%;
	line-height: 16px;
}
.tx-tc-text, .tx-tc-text-top {
	display: inline-block;
	font-size: 110%;
	padding: 4px 15px 0 2px;
	word-wrap: break-word;
}
.tx-tc-ftm-text {
	display: inline-block;
	font-size: 110%;
	line-height: 16px;
	margin: 0;
	padding: 0px 0px 0 4px;
	width: 90%;
}
.tx-tcresponse-text {
	display: block;
	font-size: 100%;
	line-height: 16px;
	width: auto;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px 3px 3px 3px;
}
.tx-tc-ct-ry {
	float: left;
	padding-left: 4px;
	margin: 0;
}
.tx-tcresponse-text-title {
	display: block;
	font-weight: bold;
	line-height: 16px;
}
.tx-tc-ct-box-ctpic {
	min-height: 80px;
	padding-bottom: 6px;
	padding-top: 2px;
	width: 60px;
}
.tx-tc-ct-box-picturecrop32 {
	padding: 4px;
}
.toctoc-comments-pi1 .tx-tc-cts .tx-tc-ct-box-cttxt {
	margin-top: -88px;
	min-height: 44px;
}
.tx-tc-ct-box-ctpic2 {
	padding-left: 4px;
	width: 40px;
}
.tx-tc-ct-box-picturecrop322 {
	height: 1px;
}
.tx-tc-ct-rply fieldset.tx-tc-ct-fieldset {
	margin-left: 0px;
}
fieldset.tx-tc-ct-fieldset {
	margin-bottom: 0;
	margin-top: -1px;
	min-height: 1px;
	border: 0 none;
	left: 0;
	padding: 0 0 0 1px;
	top: 0;
	margin-left: 0px;
}
.tx-tc-ct-form-field-recapcha {
	padding: 4px 0px 4px 0px;
	height: 120px;
}
div.tx-tc-rt {
	display: inline-block;
	margin: 4px -18px 4px 0;
	width: 100%;
	border-top-width: 1px;
	border-top-style: solid;
}
.toctoc-comments-pi1 hr {
	margin: -1px -18px -2px 1px;
	border-width: 0;
	height: 1px;
}
p.tx-tc-text img, .txtc_details img, .tx-tc-recent-cts-entry img, .tx-tc-trt-content img {
	padding: 0 2px 0 2px;
	margin: 0 0 -3px;
}
span.emoji {
	margin: -2px 0 2px;
}
.tx-tc-atrts-ctlink {
	padding-right: 4px;
}
/*sharrre stuff */
.sharrre .shrbox {
	clear: both;
	float: left;
	padding: 0 2px 0 2px;
	position: relative;
	white-space: nowrap;


	/*width: auto;*/
}
.sharrre .shrbox:hover .shrmiddle {
	height: auto;
	top: 8px;
	margin-top: 8px;
	opacity: 0.9;
}
.sharrre .shrboxopen {
	clear: both;
	float: left;
	position: relative;
	white-space: nowrap;
	/*width: auto; */
}
.sharrre .shrleft, .share {
	cursor: pointer;
	display: block;
	float: left;
	white-space: nowrap;
}
.sharrre .shrboxopen {
	height: auto;
	visibility: visible;
}
.sharrre .shrmiddleopen {
	top: 0;
	z-index: 4;
	margin: 0 4px;
	border-radius: 2px 2px 2px 2px;
	border-width: 1px;
	border-style: solid;
	overflow: visible;
	display: inline;
	float: left;
	text-align: left;
	white-space: nowrap;
}
.sharrre .shrmiddle {
	border-radius: 3px 3px 3px 3px;
	border-width: 1px;
	border-style: solid;
	overflow: visible;
	display: inline;
	padding: 4px;
	position: absolute;
	text-align: left;
	white-space: nowrap;
}
.sharrre .shrmiddle a, .sharrre .shrmiddleopen a {
	font-weight: bold;
	padding: 0 4px 0 4px;
	text-align: center;
	min-width: 8px;
}
.sharrre .shrright {
	float: right;
	padding: 0 4px;
	text-align: left;
}
.sharrre .shrrightopen {
	padding: 0 4px;
	text-align: left;
}
.sharrre .shrmiddle a:hover, .sharrre .shrmiddleopen a:hover {
	text-decoration: none;
}
div.sharrre {
	float: left;
	
	/*line-height: 18px;
	/*margin-top: 1px;*/
}
.sharrre .button {
	top: 6px;
	margin: 0 4px 0 4px;
	float: left;
	position: absolute;
}
.sharrre .buttons {
	padding: 5px;
	max-height: 70px;
	height: 70px;
	position: absolute;
	z-index: 10;
}
.sharrre .share {
	margin-left: 5px;
	float: left;
}
.sharrre .count {
	padding-right: 5px;
	float: left;
}
.sharrre .box {
	float: left;
	margin: 0 4px 0 4px;
}
.tx-tc-sharrrearea-popup {
	margin-top: 0px;
	float: left;
}
.addthis_toolbox {
	padding: 0 0 4px 0;
}
.addthis_toolbox a {
	height: 20px;
}
a.addthis_counter addthis_pill_style {
	min-height: auto;
}
.tx-tc-cap-image {
	border-radius: 2px 2px 2px 2px;
	border-width: 1px;
	border-style: solid;
	float: left;
	margin: 1px 4px -4px -4px;
}
img.tx-tc-cap-image-rf {
	cursor: pointer;
	margin: 0 -4px -7px 4px;
}
#cap-wrap .cap-box {
	-webkit-border-radius: 7px;
	border-width: 1px;
	border-style: solid;
	border-radius: 7px;
	text-align: center;
}
#cap-wrap .text-box input {
	width: 120px;
}
#cap-wrap .text-box label {
	font-size: 110%;
	width: 150px;
	padding-top: 3px;
	padding-bottom: 3px;
}
#cap-wrap .cap-action {
	float: right;
	width: 117px;
	background: url(../img/rclogos.jpg) top right no-repeat;
	height: 44px;
	margin-top: 3px;
}
#cap-wrap .cap-action img {
	margin-top: 9px;
	margin-right: 6px;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
}
#cap-wrap .over-text-box {
	padding-bottom: 3px;
}
.tx-tc-ct-uc {
	border-radius: 10px 10px 10px 10px;
	border-width: 1px;
	border-style: solid;
	box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.15);
	height: 0;
	margin: -120px 0 0 8px;
	opacity: 1;
	filter: alpha(opacity=100);
	padding: 8px;
	position: absolute;
	display: none;
	z-index: 60;
	font-size: 100%;
	width: 350px;
}
.tx-tc-ct-rybox .tx-tc-userpic, .tx-tc-ct-rybox .tx-tc-userpicf {
	margin: 0 7px 0 1px;
}
.tx-tc-ct-uc-pic {
	float: left;
	min-height: 120px;
	width: 96px;
	margin: 2px 0 0;
	text-align: center;
}
.tx-tc-ct-uc-pic2 {
	border-radius: 10px 10px 2px 2px;
	border-style: solid;
	border-width: 1px;
	display: none;
	margin: 25px -4px -81px;
	min-height: 50px;
	width: 3px;
}
.tx-tc-ct-uc-text {
	float: left;
	padding-left: 4px;
	margin: 0 0px 0px 4px;
	width: 226px;
}
.tx-tc-ct-uc-fullname {
	font-weight: bold;
	white-space: normal;
}
.tx-tc-ct-uc-fullname-div {
	float: left;
	margin-left: -3px;
	width: 102px;
	text-align: center;
	margin-top: 4px;
}
.tx-tc-ct-uc-text-contact, .tx-tc-ct-uc-text-stats, .tx-tc-ct-uc-text-ip {
	float: left;
	margin-top: 0px;
	margin-bottom: 2px;
	padding: 2px;
	width: 218px;
	white-space: normal;
}
img.tx-tc-ucpic {
	margin-right: 4px;
}
.tx-tc-ct-uc-text-stats, .tx-tc-ct-uc-text-ip {
	margin-top: 2px;
}
.tx-tc-ct-uc-fullname_addinfo {
	font-size: 80%;
}
.tx-tc-rts-dp-hide, .tx-tc-rts-text-hide, .tx-tc-myrts-myrt-hide, .tx-tc-rts-area-hide {
	height: 0;
	width: 0;
	display: none;
	z-index: 10;
	float: right;
	position: relative;
	margin: 0;
	line-height: 1px;
}
.tx-tc-ct-form-field-wpp {
	padding: 4px 0px 4px 0px;
}
.tx-tc-pvs-prevnext {
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	min-height: 11px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	padding: 2px;
	position: absolute;
}
.tx-tc-pvs-logobg {
	width: 100px;
}
.tx-tc-pvs-logobg, .tx-tc-pvs-logobg-ct {
	filter: alpha(opacity=20);
	opacity: 0.2;
	float: right;
}
.tx-tc-pvs-logobg {
	margin-right: 20px;
}
.tx-tc-pvs-logobg-ct {
	margin-right: 4px;
}
.tx-tc-pvs-next {
	float: left;
	margin-left: 12px;
	position: absolute;
	cursor: pointer;
}
.tx-tc-pvs-nopreviewpic {
	filter: alpha(opacity=60);
	opacity: 0.6;
	border-radius: 4px 4px 4px 4px;
	border-width: 1px;
	border-style: solid;
	display: block;
	float: right;
	margin-top: -2px;
	position: absolute;
	cursor: pointer;
}
.tx-tc-fup-nopreview {
	filter: alpha(opacity=60);
	opacity: 0.6;
	cursor: pointer;
	margin-top: 4px;
}
.tx-tc-fup-preview {
	float: left;
	margin: 0 4px;
}
.tx-tc-fuparea {
}
.tx-tc-pvs-title {
	width: 85%;
}
.tx-tc-pvs-pvsnopreview {
	float: right;
	cursor: pointer;
	margin: 2px 2px 0 0;
	opacity: 0.4;
}
.tx-tc-pvs-pvsnopreview:hover {
	opacity: 1;
}
.tx-tc-coc {
	float: right;
	cursor: pointer;
	margin: 2px 2px 0 0;
	opacity: 0.4;
}
.tx-tc-coc:hover {
	opacity: 1;
}
.tx-tc-ct-ry-frame {
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	margin: 0;
	padding: 4px;
	font-size: 110%;
}
.tx-tc-userpic, .tx-tc-userpicf, .tx-tc-avatarpic, .tx-tc-avatarpicf, .tx-tc-ct-uc-pic .tx-tc-userpic, .tx-tc-ct-uc-pic .tx-tc-userpicf, .tx-tc-ct-box-picturecrop322 img {
	border-width: 1px;
	border-style: solid;
}
.tx-tc-userpic, .tx-tc-userpicf, .tx-tc-ct-box-picturecrop322 img {
	margin: 0px 0 0 0;
}
.tx-tc-ct-ry-frameover {
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	margin: 0;
	padding: 4px;
	font-size: 110%;
	min-height: 50px;
}
.tx-tc-ct-rybox-title {
	font-weight: bold;
	margin: 0 0 3px 0;
	line-height: 16px;
}
.tx-tc-ct-rybox {
	border-radius: 3px 3px 3px 3px;
	border-width: 1px;
	border-style: solid;
	margin: 0 -5px;
	padding: 2px 2px 4px;
	line-height: 16px;
}
.tx-tc-pvs-prev {
	float: left;
	position: absolute;
	cursor: pointer;
}
.tx-tc-ct-uc-pic .tx-tc-userpic, .tx-tc-ct-uc-pic .tx-tc-userpicf {
	margin: 0px 0 0 0;
	border-style: solid;
	border-width: 1px;
}
.tx-tc-pvs-desc {
}
.tx-tc-ct-form-field-wpp {
	padding-bottom: 2px;
}
.tx-tc-ct-wpp {
	padding-bottom: 2px;
}
.tx-tc-pvs-title a {
	font-weight: bold;
}
div.toctoc-comments-pi1 .tx-tc-cts .tx-tc-cts-dp div.tx-tc-cts-ct-dp .tx-tc-ct-box-cttxt div.tx-tc-ct-wpp div.tx-tc-pvs-desc {
	width: 100%;
}
.tx-tc-cts-ct-dp {
}
.tx-tc-cts .tx-tc-ct-wpp {
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	margin: 0 0 0 6px;
	padding: 4px 4px 9px;
}
div.tx-tc-ct-box div.tx-tc-ct-box-cttxt div.tx-tc-ct-wpp, div.tx-tc-ct-box div.tx-tc-ct-box-cttxt div.tx-tc-ct-img, .tx-tc-ct-video {
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
}
div.tx-tc-ct-box div.tx-tc-ct-box-cttxt div.tx-tc-ct-img {
	margin: 4px -18px 4px 2px;
	padding: 4px;
}
div.tx-tc-ct-box div.tx-tc-ct-box-cttxt div.tx-tc-ct-wpp {
	margin: 4px -18px 4px 2px;
	padding: 4px 4px 10px;
}
div.tx-tc-ct-box div.tx-tc-ct-box-cttxt div.tx-tc-ct-wpp div.tx-tc-pvs-images {
	border-right-width: 1px;
	border-right-style: solid;
}
div.tx-tc-pvs-images {
	height: 70px;
}
.tx-tc-img-title, .tx-tc-img-desc {
	padding: 0px 0px 4px 0px;
}
.tx-tc-images-img {
	max-width: 100%;
}
div.tx-tc-ct-pvs-images {
	float: left;
	margin: -4px 0;
	padding: 4px 0;
}
div.tx-tc-ct-img {
	margin: -4px 0;
	padding: 4px 0;
}
.tx-tc-atrts-dp .tx-tc-myrts-myrt {
	float: left;
	margin: -1px 4px 0 1px;
	position: relative;
}
.tx-tc-rts-area {
}
.tx-tc-rts-li, .tx-tc-rts-li-text {
	float: left;
}
.tx-tc-rts-li-text-hide {
	float: left;
	height: 0;
	display: none;
	width: 0;
}
.tx-tc-myrts-dp {
	margin-right: 4px;
}
.tx-tc-myrts-dp, .tx-tc-atrts-ilike-dp {
	float: left;
	left: 0;
	position: relative;
}
.tx-tc-atrtstop-ilike-dp {
	float: left;
	left: 2px;
	position: relative;
}
.tx-tc-atrtstop-ilike-dp-static {
	float: left;
	left: 2px;
	position: relative;
	margin: 1px 0 0 0;
}
.tx-tc-myrts-myrt {
	float: left;
	position: relative;
	margin: -1px 4px 0 1px;
}
.tx-tc-ctdate {
	float: left;
	margin: -1px 0 0;
}
.tx-tc-myrts-vote-bar {
	float: left;
	margin: -1px 0 0;
}
.tx-tc-myrts-text {
	margin: -16px 0 0;
	/*font-size: 11px;*/
}
.tx-tc-myrts-gold-bar {
	position: absolute;
	left: 0; /*top: -1px;*/;
	width: 0px;
	height: 12px;
	font-size: 1px;
	z-index: 1;
}
.tx-tc-myrts-vote-bar {
	position: absolute;
	left: 0;
	top: 16px;
	width: 55px;
	height: 12px;
	font-size: 1px;
}
.tx-tc-myrts-vote-bar DIV A {
	left: 0;
	top: 16px;
	width: 11px;
	height: 12px;
	border: none;
	text-decoration: none;
}
.tx-tc-ct-box .tx-tc-text-top .tx-tc-rts-dp {
	left: 4px;
}
.tx-tc-rts-dp {
	float: left;
	height: 18px;
	left: 2px;
	position: relative;
	top: 3px;
	width: 59px;
	margin: -1px 0 0;
}
.tx-tc-rts-grey-bar {
	position: absolute;
	left: 0;
	top: 0;
	width: 55px;
	height: 12px;
	font-size: 1px;
}
.tx-tc-rts-gold-bar {
	position: absolute;
	left: 0;
	top: 0;
	width: 0px;
	height: 12px;
	font-size: 1px;
	background: url("../../themes/default/img/toctoc_comments_rating_stars.png") repeat-x 0 -12px;
}
.tx-tc-rts-vote-bar {
	position: absolute;
	left: 0;
	top: 0;
	width: 55px;
	height: 12px;
	font-size: 1px;
}
.tx-tc-rts-vote-bar DIV A, .tx-tc-rts-vote-bar DIV span {
	position: absolute;
	left: 0;
	top: -1px;
	width: 11px;
	height: 12px;
	border: none;
	text-decoration: none;
	transition: all 0.8s ease-in-out 0s;
}
.tx-tc-rts-vote-bar DIV A:hover {
	background-position: 0 -24px;
}
.tx-tc-rts-vote-bar DIV A.tx-tc-rts-star-1, .tx-tc-rts-vote-bar DIV span.tx-tc-rts-star-1 {
	left: 0px;
	width: 11px;
	z-index: 5;
}
.tx-tc-rts-vote-bar DIV A.tx-tc-rts-star-2, .tx-tc-rts-vote-bar DIV span.tx-tc-rts-star-2 {
	left: 0px;
	width: 22px;
	z-index: 4;
}
.tx-tc-rts-vote-bar DIV A.tx-tc-rts-star-3, .tx-tc-rts-vote-bar DIV span.tx-tc-rts-star-3 {
	left: 0px;
	width: 33px;
	z-index: 3;
}
.tx-tc-rts-vote-bar DIV A.tx-tc-rts-star-4, .tx-tc-rts-vote-bar DIV span.tx-tc-rts-star-4 {
	left: 0px;
	width: 44px;
	z-index: 2;
}
.tx-tc-rts-vote-bar DIV A.tx-tc-rts-star-5, .tx-tc-rts-vote-bar DIV span.tx-tc-rts-star-5 {
	left: 0px;
	width: 55px;
	z-index: 1;
}
.tx-tc-rts-cleaner {
	clear: left;
}
.tx-tc-rts-text {
	float: left;
	margin: -1px 4px 0;
	position: relative;
}
.tx-tc-atrts-dp .tx-tc-rts-text {
	float: left;
	margin: -1px 4px 0;
	position: relative;
}
.tx-tc-rt-dp-wrap {
	float: left;
	font-size: 11px;
	height: 16px;
	left: 0;
	top: 0;
	display: none;
	width: 0;
	z-index: 1;
}
.tx-tc-rt-dp-wrap IMG {
	float: left;
	margin-right: 5px;
}
.tx-tc-ct-ry-img {
	margin-right: 8px;
}
.tx-tc-ct-box-picturecrop322 img {
	float: left;
}
#confirm {
	display: none;
}
/* Overlay */
#confirm-overlay {
	cursor: wait;
}
/* Container */
#confirm-container {
	height: 134px;
	width: 320px;
	font-size: 100%;
	text-align: left;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
}
#confirm-container .header {
	height: 26px;
	line-height: 26px;
	width: 100%;
	font-weight: bold;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
}
#confirm-container .header span {
	padding-left: 8px;
}
#confirm-container .message {
	margin: 0;
	padding: 12px 4px 12px 8px;
}
#confirm-container .buttons {
	line-height: 26px;
	width: 160px;
	float: right;
	padding: 10px 8px 0;
}
#confirm-container .buttons div {
	float: right;
	margin-left: 4px;
	width: 70px;
	height: 26px;
	font-weight: bold;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	cursor: pointer;
	text-shadow: 0;
	box-shadow: 0;
}
#confirm-container .buttons div:hover {
}
#confirm-container a.modal-close, #confirm-container a.modal-close:link, #confirm-container a.modal-close:active, #confirm-container a.modal-close:visited {
	text-decoration: none;
	font-weight: bold;
	position: absolute;
	right: 8px;
	top: 4px;
}
.tx-tc-recent-cts-article {
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	padding: 4px;
}
.tx-tc-recent-cts-entry {
	line-height: 14px;
	word-wrap: break-word;
}
.tx-tc-recent-cts-title {
	line-height: 14px;
	margin: 2px 0 6px;
}
img.tx-tc-rcentpic {
	margin-bottom: -2px;
	margin-right: 4px;
}
.tx-tc-ct-highlight {
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 2px;
}
.tooltip.bottom, .tooltip2.bottom, .tooltipemoji.bottom {
	padding-top: 4px;
}
.tooltip2 {
	display: none;
	padding: 3px 3px 10px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: bottom;
	font-weight: normal;
	font-size: 100%;
	z-index: 5;
	word-wrap: break-word;
	border-radius: 3px;
	box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.15);
}
.tooltip {
	display: none;
	padding: 4px 4px 12px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: bottom;
	font-weight: normal;
	font-size: 100%;
	border-radius: 2px;
	z-index: 91;
	word-wrap: break-word;
	box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.05);
}
.tooltipemoji {
	display: none;
	padding: 4px 4px 12px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: bottom;
	font-weight: normal;
	border-radius: 4px;
	font-size: 90%;
	z-index: 91;
	max-width: 122px;
	word-wrap: break-word;
	text-align: center;
	box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.15);
}
.tx-tc-CloseButton {
	cursor: pointer;
	display: inline-block;
	margin: 0;
	padding: 0;
}
.tx-tc-emo-bot-nav a {
	height: 30px;
	width: 30px;
}
label.tx-tc-CloseButton {
	overflow: hidden;
}
.tx-tc-CloseButton input {
	cursor: pointer;
	opacity: 0;
	outline: medium none;
	padding: 18px;
}
.tx-tc-CloseButton {
	background-repeat: no-repeat;
	height: 15px;
	width: 15px;
}
.tx-tc-CloseButtonSmall {
	height: 11px;
	margin-top: 1px;
	width: 11px;
}
.tx-tc-CloseButtonHuge {
}
.tx-tc-CloseButtonDark {
	background-position: left -16px;
}
.tx-tc-CloseButton:hover, .tx-tc-CloseButton:focus {
	background-position: left -32px;
}
.tx-tc-CloseButton:active {
	background-position: left -48px;
}
.tx-tc-CloseButtonSmallDark {
	background-position: left -12px;
}
.tx-tc-ct-box-ctclose {
	height: 17px;
	float: right;
	z-index: 4;
	margin: 0;
	display: block;
}
label.tx-tc-CloseButton {
	overflow: hidden;
}
.tx-tc-ucclose {
	float: right;
	margin: 14px 5px 0;
}
.tx-tc-CloseButtonSmall {
	height: 11px;
	width: 11px;
	margin-top: 1px;
}
.tx-tc-CloseButton {
	background-repeat: no-repeat;
	height: 15px;
	width: 15px;
}
.tx-tc-CloseButton {
	cursor: pointer;
	display: inline-block;
	margin: 0;
	padding: 0;
}
.tx-tc-ct-cnt {
	float: right;
	font-size: 90%;
	font-weight: normal;
	line-height: 16px;
	margin-right: -18px;
	margin-top: -2px;
	padding: 0px;
}
.tx-tc-ct-box-picturecrop322 img {
	border-radius: 2px 2px 2px 2px;
}
.tx-tc-avatarpicf, .tx-tc-avatarpic {
	cursor: pointer;
}
.tx-tc-userpic, .tx-tc-userpicf, .tx-tc-avatarpicf, .tx-tc-avatarpic {
	padding: 0;
	border-radius: 2px 2px 2px 2px;
	border-width: 1px;
	border-style: solid;
}
.tx-tc-avatarpic {
	margin: 0 2px 0 0;
}
.tx-tc-avatarpicf {
	margin: 0;
}
.tx-tc-userpic, .tx-tc-userpicf {
	margin: 0 1px 0 0;
}
.tx-tc-avatarpic, .tx-tc-avatarpicf {
	width: 18px;
	height: 18px;
}
/* the overlayed element */
.txtc_overlay {
	display: none;
	z-index: 10000;
	border-radius: 4px 4px 4px 4px;
	border-width: 1px;
	border-style: solid;
	max-width: 900px;
	min-height: 200px;
	-moz-box-shadow: 0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;
	box-shadow: 0 0 90px #000;
}
/* default close button positioned on upper right corner */
.txtc_overlay .close {
	position: absolute;
	right: -15px;
	top: -15px;
	cursor: pointer;
	height: 35px;
	width: 35px;
}
/* styling for elements inside overlay */
.txtc_details {
	float: left;
	font-size: 100%;
	line-height: 16px;
	width: 170px;
	padding: 4px;
	border-radius: 2px 2px 2px 2px;
	word-wrap: break-word;
}
.txtc_details .txtc_h2 {
	font-size: 120%;
	font-weight: bold;
	padding: 4px;
}
.txtc_overlay img {
	max-width: 700px;
	float: left;
}
.tx-tc-ct-cnt span {
	padding-left: 2px;
	line-height: 16px;
}
.tx-tc-ct-ry-report-line {
	padding: 0px 0 0;
	min-height: 17px;
}
.tx-tc-ct-prv-frame {
	font-size: 110%;
	line-height: 16px;
	margin: 0;
	padding: 0 15px 0 1px;
}
.tx-tc-ct-prv-frameover {
	border-radius: 2px 2px 2px 2px;
	border-width: 1px;
	border-style: solid;
	padding: 3px;
}
.tx-tc-ct-prv {
	float: right;
	margin: 2px 2px 0 0;
	opacity: 0.6;
}
.tx-tc-ct-prv:hover {
	opacity: 1;
}
.tx-tc-ct-form-gender {
	float: left;
	margin: 0px 0px 0px 4px;
}
.tx-tc-ct-prv-icon {
	margin: 7px 4px 0;
}
.tx-tc-ct-prv-icon-login {
	margin: 2px 4px 0;
}
.tx-tc-ct-prv-icon-dp {
	opacity: 0.4;
	filter: alpha(opacity=40);
	float: left;
	height: 16px;
	opacity: 0.4;
	width: 16px;
}
.tx-tc-ct-prv-icon-login-dp {
	opacity: 0.4;
	filter: alpha(opacity=40);
	float: left;
	height: 16px;
	opacity: 0.4;
	width: 16px;
}
.tx-tc-ct-prv-icon-dp:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.tx-tc-ct-prv-icon-login-dp:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.tx-tc-ze {
	display: none;
	float: left;
	margin-bottom: -66px;
	margin-left: 45px;
	margin-top: 8px;
	height: 21px;
	width: 10px;
}
.tx-tc-ct-rply {
	display: block;
}
.tx-tc-ct-box-cttxt-reply {
	border-width: 1px;
	border-style: solid;
	border-radius: 6px 6px 6px 2px;
	padding: 0 0 6px 1px;
}
.tx-tc-ntf-box {
	display: block;
	float: left;
	line-height: 16px;
	margin-top: 3px;
	width: 50%;
}
.tx-tc-ntf-check {
	margin: 6px 8px 0 0;
}
.tx-tc-ct-form-field-ntf {
	margin-right: 4px;
	padding: 4px 0px 4px 0px;
	min-height: 20px;
	font-size: 100%;
}
.tx-tc-ct-label-ntf {
	float: left;
	font-weight: bold;
	line-height: 22px;
	margin: 0 4px 0 2px;
	min-height: 22px;
	overflow: hidden;
	white-space: nowrap;
}
.tx-tc-ct-ntf-wrap {
	float: left;
	min-height: 20px;
	padding: 0 0 4px 0px;
	width: 85%;
}
.tx-tc-text code {
	font-size: 100%;
}
.tx-tc-cts-dp .tx-tc-ct-box .tx-tc-text-top .tx-tc-atrts-dp .tx-tc-ct-uc {
	font-size: 91%;
}
.tx-tc-cts-dp .tx-tc-cts-ct-dp .tx-tc-ct-box .tx-tc-ct-box-cttxt .tx-tc-rt .tx-tc-ct-uc {
}
.tx-tc-cts-dp .tx-tc-cts-ct-dp .tx-tc-ct-box .tx-tc-ct-uc {
}
.tx-tc-ct-uc-pic img {
}
.tx-toctoc-comments-required-error {
	float: left;
	padding: 0 0 4px 2px;
}
.tx-tc-ct-reqhint {
	font-size: 85%;
}
.tx-tc-ct-video {
	display: block;
	float: left;
	margin: 4px -18px 4px 2px;
	width: 99.7%;
}
.tx-tc-ct-video-dp {
	margin-top: 0px;
}
.tx-tc-cts-vid-formtext {
	margin: 0px;
}
.tx-tc-vid {
	display: block;
	float: left;
	padding: 4px;
}
.tx-tc-pvs-vid-img {
	height: auto;
	width: 100%;
	max-width: 360px;
}
.tx-tc-vid-video {
	display: block;
	padding: 4px;
	font-weight: bold;
}
.tx-tc-vid-desc {
	display: block;
	padding: 4px;
}
.tx-tc-vid-embed {
	float: left;
	height: auto;
	padding: 4px;
	max-width: 91%;
	min-width: 91%;
}
.tx-tc-cts-vid-formtext .tx-tc-ct-box-ctclose {
	margin: 4px 4px 0 0;
}
.tx-tc-form-top-message .tx-tc-ct-box-ctclose {
	margin: 0px 8px 0 0;
}
.flowplayer {
	width: 80%;
}
.tx-tc-debug {
	padding: 4px;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px 4px 4px 4px;
}
.tc-tx-newdata {
	border-left-style: solid;
	border-left-width: 2px;
	border-radius: 2px 2px 2px 2px;
}
p.tx-tc-text img.tx-tc-emo-int-img, .tx-tc-emo-int-img {
	margin: 3px 5px 0;
	padding: 0;
}
div.tx-tc-emopage {
	border-width: 1px;
	border-style: solid;
	box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.15);
	width: 210px;
	border-radius: 10px;
	height: 141px;
	display: none;
}
.tx-tc-emo-bot-nav {
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 4px 3px 2px 3px;
	border-radius: 0 4px 2px 4px;
	box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.05);
	border-style: solid;
	border-width: 1px;
}
.tx-tc-emo-bot-nav-item {
	width: 30px;
	height: 30px;
	float: left;
	border-style: solid;
	border-width: 1px;
}
div.tx-tc-emo-nav-frm {
	width: 100%;
}
div.tx-tc-emo-top-nav {
	height: 12px;
	margin-left: auto;
	margin-right: auto;
	padding: 6px 0 4px;
}
span.tx-tc-emo-top-nav-on, span.tx-tc-emo-top-nav-off {
	width: 16px;
	height: 12px;
	float: left;
}
.tx-tc-emopage-emojis {
	height: 76px;
	margin-left: 2px;
}
.tx-tc-smilie-icon {
	background-position: -1px 0;
	background-repeat: no-repeat;
	background-size: auto auto;
	float: right;
	height: 26px;
	width: 26px;
	margin-right: -26px;
	margin-top: -26px;
}
div.tx-tc-smilie-icon.open, div.tx-tc-smilie-icon.open:hover {
	background-position: -1px -52px;
}
.tx-tc-smilie-icon:hover {
	background-position: -1px -26px;
}
.tx-tc-smilie-popup {
	display: none;
	float: right;
	margin-bottom: -100%;
	position: relative;
	z-index: 90;
}
.emoticonsPanel .emoteTogglerImg {
	display: block;
	height: 25px;
	width: 24px;
}
.tx-tc-rts-container {
	min-height: 17px;
}
.tx-tc-scopetitlebold {
	font-weight: bold;
}
.tx-tc-scopetitle, .tx-tc-scopetitlebold {
	min-width: 95px;
	float: left;
	font-size: 100%;
	margin-left: 2px;
	line-height: 16px;
}
.tx-tc-imagesprite {
	height: 0;
	visibility: hidden;
	width: 0;
}
.tx-tc-firstvote {
	display: inline-block;
	margin: 4px 0px -3px;
}
.tx-tc-trl-rank {
	font-size: 110%;
	font-weight: bold;
}
.tx-tc-trt-listtitle {
	font-size: 110%;
	font-weight: bold;
}
.tx-tc-trt-rating {
	border-style: solid;
	border-width: 1px;
	border-radius: 3px 3px 3px 3px;
	float: left;
	text-align: center;
	background-position: center center;
	background-size: 100% auto;
}
.tx-tc-trt-cts-article .tx-tc-rts-container {
	float: left;
}
.tx-tc-trt-rating-right {
	line-height: 20px;
	/*text-indent: -8px;*/
	font-size: 110%;
	display: inline;
}
.tx-tc-trt-cts-article .tx-tc-rts {
	margin: 3px 0 0;
	width: 63px;
}
.tx-tc-trt-cts-article .tx-tc-rts-dp {
	width: 59px;
}
.tx-tc-trt-rating-rating {
	margin-left: 1px;
}
.tx-tc-trt-rating-img, .tx-tc-trt-rating-rating {
	float: left;
	font-size: 110%;
}
.tx-tc-trt-rating-like {
	margin: 1px -4px -1px -2px;
}
.tx-tc-trt-rating-like-only {
	margin: 1px 0 -1px -4px;
}
.tx-tc-trtpic {
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
}
.tx-tc-trt-entry {
	padding-bottom: 2px;
	margin-bottom: 2px;
}
.tx-tc-trt-rating-rating-wrap {
	line-height: 20px;
}
.tx-tc-trt-cts-article {
}
.tx-tc-trt-content {
	margin-right: 2px;
}
.tx-tc-box-trt-cts {
	padding: 4px;
}
