/* often changed css begin */
/* 1) forced size of the font of the labels in the form */
.tx-tcfh {
	font-size: 100%;
}
/* 2) submit buttons  */
.tx-tc-ct-submit, .tx-tc-ct-reset, .tx-tc-ct-submit-loggedin {
	/* white button: 
	border: 1px solid #888888;
	border-radius: 4px 4px 4px 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 0.8em;
	font-weight: bold;
	line-height: normal !important;
	outline: medium none;
	padding: 4px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;


  /* black/orange button: */
    background-color: #505050;
    border: 2px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    color: #E78F26;
    font-weight: bold;
    margin-bottom: 4px;
    margin-left: 0;
    margin-top: 4px;
    padding: 1px 3px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
}
.tx-tc-ct-cap-message {
	color: red;
	margin-left: 230px;
	width: 130px;
}
.tx-tc-cts-ctsbrowse {
	/*  used in code */

	border-bottom: 1px solid #545454;
	height: 24px;
	margin: 0;
	line-height: 24px;
}
.tx-tc-cts-ctsbrowse-hide {
	float: right;
	margin-bottom: -24px;
	position: relative;
	top: -24px;
	line-height: 24px;
}
.tx-tc-pi1 .tx-tc-cts-form-fieldtextarea,.tx-tc-pi1 .tx-tc-cts-form-fieldtextarea-1  {
	/*margin: 0;
	padding: 4px 0;*/
margin: 0 4px 0 2px;
    padding: 4px 0;
}
.tx-tc-required {
	font-weight: bold;
}
.tx-tc-cts {
	font-size: 100%;
}
.tx-tc-ct-uc {
	    background: none repeat scroll 0 0 #454545;
    border: 1px solid #979797;
    border-radius: 10px 10px 10px 10px;
    height: 0;
    margin: -120px 0 0 8px;
    opacity: 1;
    padding: 8px;
    position: absolute;
    
    z-index: 60;
    -moz-box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.15);
	width: 350px;
}
.tx-tc-ct-uc-text-contact, .tx-tc-ct-uc-text-stats, .tx-tc-ct-uc-text-ip {
	width: 246px;

}
img.tx-tc-ucpic {
	margin-right: 4px;
	/*float: left;*/
}
.tx-tc-ct-deleteform, .tx-tc-ct-editform {
	float: left;
}
.tx-tc-ct-saveform {
	
	/*margin: 0 0 0 16px;*/
}
.tx-tc-ct-denotifyform {
	float: right;
	margin: 0 0 0 2px;
}
.tx-tc-ct-actionforms {
	display: inline-block;
	float: right;
	padding: 4px;
margin: -3px -21px 0 -33px;
}
textarea.tx-tc-ctinput-textarea {
 font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 100%;
    width: 100%;
    background-color: #505050;
    border: 1px solid #999999;
    border-radius: 4px 4px 4px 4px;
    clear: none;
    color: #E78F26;
    margin-bottom: 4px;
    margin-left: 0;
    padding-left: 3px;
	width: 100%;
	overflow: hidden; /*
	see also in 
	toctoccomments_pi1.js around line 384 (or search for 'elastic.js')
*/;
	line-height: 20px;
	margin: 0 2px 0 -2px;
}
#cap-wrap {
	
	background: none repeat scroll 0 0 #000000;
	border: 1px solid #5A5A5A;	
	/* white 	
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #9A9A9A;
	*/
/* */	-webkit-border-radius: 10px;
	border-radius: 10px;
	height: 110px;
	margin-top: 3px;
	padding: 3px;
	text-align: left;
	width: 270px;
}
#cap-wrap .text-box {
	
	background: #040404;
	border: 1px solid #434343;
	
	/* white 	
	background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #BABABA;
	*/
	
	-webkit-border-radius: 7px;
	width: 140px;
	height: 43px;
	float: left;
	margin: 4px;
	border-radius: 7px;
	text-align: center;
}
/* often changed css end */
/* often changed css begin rts */
.tx-tc-myrts-ilke {
	float: left;
	line-height: 17px;
	/* margin-top: -2px; */
}
.tx-tc-myrts-disilke {
	float: left;
	line-height: 17px;
	/* margin-top: -2px; */
}
.tx-tc-ct-box .tx-tc-ct-box-cttxt .tx-tc-myrts-dp .tx-tc-myrts-ilke {
	line-height: 18px;
}
.tx-tc-ct-box .tx-tc-ct-box-cttxt .tx-tc-myrts-dp .tx-tc-myrts-disilke {
	line-height: 18px;
}
.tx-tc-myrts-disilke img {
	float: left;
	margin: 2px 0 -2px 2px;
	border: 0;
}
.tx-tc-myrts-ilke img {
	float: left;
	border: 0;
}
.tx-tc-rts-area {
	float: left;
	
}
/* often changed css end */
.tx-tc-rts {
	left: 0;
	line-height: 18px;
	list-style-type: none;
	margin: 1px 0 0 4px;
	position: relative;
	top: 0;
}
.tx-tc-atrts-dp .tx-tc-rts {
	left: 0;
	list-style-type: none;
	margin: 0 0 0 -2px;
	top: 0;
}
.tx-tc-ct-admin {
	margin: 10px 20px;
	background-color: #e0e0e0;
	padding: 5px 9px;
	text-align: center;
}
.tx-tc-ct-form BR {
	clear: left;
}
.tx-tc-ct-name {
	font-weight: bold;
}
.tx-tc-ct-1, .tx-tc-ct-2 {
	border: 1px solid #e0e0e0;
	margin-bottom: 10px;
	padding: 3px 5px;
}
.tx-tc-ct-content {
	padding: 3px 0;
	text-align: justify;
}
.tx-tc-required-mark {
	color: red;
}
.tx-tc-required-error {
	color: #fa0600;
	font-weight: bold;
}
.tx-tc-cap {
	padding-left: 100px;
}
.tx-tc-cap IMG {
	border: 1px solid #d0d0d0;
	margin-left: 0px;
}
.tx-tc-form-top-message {
	font-weight: bold;
	
}
.tx-tc-closed {
	padding: 2px 0 0;
}
.tx-tc-closed IMG {
	vertical-align: baseline;
	margin-left: 4px;
	padding-right: 4px;
}
.tx-tc-ct-report {
	float: left;
	margin: 0 4px 0 0;
}

/* additions v2.0 */
.tx-tc-ct-editbutton, .tx-tc-ct-deletebutton, .tx-tc-ct-denotifybutton {
	border: 0;
	border-radius: 2px 2px 2px 2px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 7px;
	font-weight: bold;
	height: 16px;
	line-height: normal !important;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	width: 16px;
	opacity: 0.6;
	filter:alpha(opacity=60);
}
form.tx-tc-form-for-newcomment {
	border: 0 none;
	left: 0;
	margin: 0;
	min-height: 32px;
	padding: 0;
	top: 0;
}
.tx-tc-cts-ctsbrowse-submit, .tx-tc-cts-ctsbrowse-submit-hide {
	/*  used in code */
	border: 0;
	background: none repeat scroll 0 0 transparent;
	color: #1d16af;
	cursor: pointer;
	font-size: 100%;
	height: 16px;
	line-height: normal !important;
	text-align: left;
	text-decoration: none;
	white-space: nowrap;
	opacity: 0.8;
	filter:alpha(opacity=80);
	padding: 0 3px;
}
.tx-tc-ct-browseform-hide {
	margin: 0;
}
.tx-tc-ct-browseform {
	margin: 0;
}
.tx-tc-divtextarea {
	position: relative;
}
div.tx-tc-ct-form-field {
	padding: 4px 0px 4px 0px;
}
div.tx-tc-ct-form-field-1, div.tx-tc-ct-form-field-1nl {
	padding: 4px 0px 4px 0px;
	line-height: 20px;
}
div.tx-tc-ct-form-field-recap {
	padding: 4px 0px 4px 0px;
}
input.tx-tc-ct-input {
    background-color: #505050;
    border: 1px solid #999999;
    border-radius: 4px 4px 4px 4px;
    clear: none;
    color: #E78F26;
    margin-bottom: 4px;
    margin-left: 0;
    margin-top: 4px;
    padding-left: 1px;
    
    position: relative;
}
.tx-tc-ct-form-field-cap input.tx-tc-ct-input {
	margin: 0 0 0 4px;
}
.tx-tc-ct-label {
	color: #999999;
	float: left;
	font-weight: bold;
	line-height: 24px;
	width: 134px;
}
.tx-tc-ct-form-field-cap {
	margin-bottom: 6px;
	padding: 4px 0;
	position: absolute;
	width: 480px;
}
.tx-tc-ct-cap-area {
}
.tx-tc-ct-cap-area-image {
	float: left;
	margin: 0 1px 0 0;
	padding: 0;
}
.tx-tc-ct-cap-area .tx-tc-ct-cap-area-cantreadit .tx-srfreecap-pi2-cant-read, .tx-tc-ct-cap-area-cantread {
	float: left;
	margin-left: 138px;
	padding: 4px 0;
}
.tx-tc-ct-cap-area-accessible {
	margin: -9px 0 0 6px;
	padding: 4px 0;
	position: absolute;
	width: 150px;
}
.tx-tc-ct-cap-area-notice {
	padding: 4px 0;
}
.tx-tc-ct-cap-area .tx-tc-ct-cap-area-cantreadit .tx-srfreecap-pi2-cant-read, .tx-tc-ct-cap-area-cantread .tx-srfreecap-pi2-cant-read {
	color: #0D0909;
	float: left;
	margin: 0;
	position: relative;
	width: 200px;
}
span.tx-srfreecap-pi2-accessible {
	padding: 0 4px;
}
.tx-tc-div-submit {
	padding: 4px 0px 4px 0px;
}
.tx-tc-ct-box {

	min-height: 25px;
	
	top: 0;


   border: 1px solid #343434;
    border-radius: 5px 5px 5px 5px;
    margin: 4px 0;
    padding: 0 18px 3px 3px;
}
.tx-tc-text {
	display: inline-block;
	font-size: 110%;
	line-height: 16px;
	margin: 0;
    padding: 4px 12px 4px 4px;
	width: 93%;
    color: #E7E7E7;
}
.tx-tcresponse-text {
	display: block;
	font-size: 100%;
	line-height: 16px;
	width: auto;
	background: none repeat scroll 0 0 #F9F9F9;
	border: 1px solid #E2E6E6;
	border-radius: 3px 3px 3px 3px;
}
.tx-tc-ct-ry {
	float: left;
}
.tx-tcresponse-text-title {
	display: block;
	font-weight: bold;
	line-height: 16px;
}
.tx-tc-ct-box-ctpic {
	min-height: 80px;
	padding-bottom: 6px;
	padding-top: 2px;
	width: 60px;

    
}
.tx-tc-ct-box-picturecrop32 {
	padding: 4px;
}
.toctoc-comments-pi1 .tx-tc-cts .tx-tc-ct-box-cttxt {
	margin-top: -88px;
	min-height: 44px;
background: none repeat scroll 0 0 #343434;
    border: 1px solid #767676;
    border-radius: 5px 5px 5px 5px;
    margin-bottom:4px;
}
.toctoc-comments-pi1 .tx-tc-ct-box-cttxt {
}
.tx-tc-ct-box-ctpic2 {
	padding-left: 4px;
	/*padding-top: 4px;*/
	width: 40px;
}
.tx-tc-ct-box-picturecrop322 {
 	height: 1px;
    margin-left: 1px;
    margin-top: 4px;
}
fieldset.tx-tc-ct-fieldset {
	margin-bottom: 0;
	margin-top: -1px;
	min-height: 1px;
	border: 0 none;
	left: 0;
	padding: 0;
	top: 0;
}
div.tx-tc-pi1, .toctoc-comments-pi1 {
	margin: 0;
}
.tx-tc-ct-form-field-recapcha {
	padding: 4px 0px 4px 0px;
	height: 120px;
}
div.tx-tc-rt {
	border-top: 1px solid #D2D9E7;
	display: inline-block;
	margin: 0 -18px 4px 0;
	width: 100%;
}
.toctoc-comments-pi1 hr {
	margin: -1px -18px -2px 1px;
	background: none repeat scroll 0 0 #D9D9D9;
	border-width: 0;
	color: #D9D9D9;
	height: 1px;
}
p.tx-tc-text img {
	margin: 0px 0px -2px 0px;
}
.tx-tc-atrts-ctlink {
	float: left;
}
.tx-tc-atrts-dp {
	white-space: nowrap;
}
.tx-tc-atrts-ctlink {
	line-height: 18px;
	/*font-size: 85%;*/
	margin-top: 1px;
}
/*sharrre stuff */
.sharrre .shrbox {
	clear: both;
	float: left;
	padding: 0 2px 0 2px;
	position: relative;
	white-space: nowrap;
	/*width: auto; */
}
.sharrre .shrleft, .share {
	color: #1D16AF;
	cursor: pointer;
	display: block;
	float: left;
	white-space: nowrap;
}
.sharrre .shrleft:hover, .share:hover {
	color: #5475c8;
}
.sharrre .shrmiddle {
	background-color: #f6f6f6;
	border: 1px solid #BBBBBB;
	border-radius: 3px 3px 3px 3px;
	overflow: visible;
	display: inline;
	padding: 4px;
	position: absolute;
	text-align: left;
	white-space: nowrap;
}
.sharrre .shrmiddle a {
	font-weight: bold;
	padding: 0 4px 0 4px;
	text-align: center;
	min-width: 8px;
}
.sharrre .shrright {
	float: right;
	padding: 0 4px;
	text-align: left;
}
.sharrre .shrmiddle a:hover {
	text-decoration: none;
}
div.sharrre {
	float: left;
	line-height: 18px;
	margin-top: 1px;
	/*font-size: 90%;*/
}
.tx-tc-cap-image {
	border: 1px solid #C4C4C4;
	border-radius: 4px 4px 4px 4px;
	float: left;
	margin: 4px 4px -4px -4px;
}
img.tx-tc-cap-image-rf {
	cursor: pointer;
	margin: 4px -4px -10px 4px;
}
/* 
Recap Style cap 
=======================
 re-cap Style cap with php and jQuery 
 
 Created By: Zeeshan Rasool 
 URL : http://www.99Points.info 
 
 Get JQuery, PHP, AJAX, Codeigniter and MYSQL Tutorials and Demos on Blog
 */
#cap-wrap .cap-box {
	-webkit-border-radius: 7px;
	background: #fff;
	border-radius: 7px;
	text-align: center;
	border: solid #fff 1px;
}
#cap-wrap .text-box input {
	width: 120px;
}
#cap-wrap .text-box label {
	color: #000000;
	font-family: helvetica, sans-serif;
	font-size: 110%;
	width: 150px;
	padding-top: 3px;
	padding-bottom: 3px;
}
#cap-wrap .cap-action {
	float: right;
	width: 117px;
	background: url(../img/rclogos.jpg) top right no-repeat;
	height: 44px;
	margin-top: 3px;
}
#cap-wrap .cap-action img {
	margin-top: 9px;
	border: solid #333333 1px;
	margin-right: 6px;
	cursor: pointer;
}
#cap-wrap .over-text-box {
	padding-bottom: 3px;
}
.tx-tc-static_ilike {
	color: #050505;
}
.tx-tc-ct-uc {
	background: none repeat scroll 0 0 #F9F9F9;
	border: 1px solid #979797;
	border-radius: 10px 10px 10px 10px;
	height: 0;
	margin: -120px 0 0 8px;
	opacity: 1;
filter:alpha(opacity=100);
	padding: 8px;
	position: absolute;
	/*visibility: hidden;*/
	display: none;
	z-index: 60;
	box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.15);
}
.tx-tc-ct-box-picturecrop32 img {
	cursor: pointer;
margin-top: -5px;
}
.tx-tc-ct-uc-pic {
	float: left;
	min-height: 120px;
	width: 96px;
}
.tx-tc-ct-uc-pic img {
	margin: 0 4px 4px 0;
}
.tx-tc-ct-uc-text {
	float: left;
	padding-left: 4px;
	width: 196px;
	margin: 0 0px 0px 4px;
}
.tx-tc-ct-uc-fullname {
	font-weight: bold;
color: #111111;

}
.tx-tc-ct-uc-text-contact, .tx-tc-ct-uc-text-stats, .tx-tc-ct-uc-text-ip {
 background: none repeat scroll 0 0 #707070;
    border-color: #222222 #222222 #575757;
    border-radius: 0 4px 2px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 3px 2px rgba(100, 100, 100, 0.10);
    float: left;
    margin-bottom: 2px;
    padding: 2px;
}
.tx-tc-ct-uc-text-stats, .tx-tc-ct-uc-text-ip {
	margin-top: 2px;
}
.tx-tc-ct-uc-fullname_addinfo {
	font-size: 80%;
}
.tx-tc-rts-dp-hide, .tx-tc-rts-text-hide, .tx-tc-myrts-myrt-hide, .tx-tc-rts-area-hide {
	height: 0;
	width: 0;
	/*visibility: hidden;*/
	display: none;
	z-index: 10;
	float: right;
	position: relative;
	margin: 0;
	line-height: 1px;
}
.tx-tc-ct-form-field-wpp {
	padding: 4px 0px 4px 0px;
}
/* specific toctoc.ch */
div.AMainContentMiddle3243 div.sharrre div.shrbox {
}
div.AMainContentMiddle3243 .sharrre .shrmiddle {
	/*background-color: #F1F1F1;*/
	-webkit-box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.15);
}
/* end specific toctoc.ch */
.tx-tc-pvs-prevnext {
	background: none repeat scroll 0 0 #D6D6D6;
	border: 1px solid #888888;
	border-radius: 3px 3px 3px 3px;
	min-height: 11px;
	opacity: 0.8;
filter:alpha(opacity=80);
	padding: 2px;
	position: absolute;
}
.tx-tc-pvs-logobg{
	width: 100px;
}
.tx-tc-pvs-logobg, .tx-tc-pvs-logobg-ct {
	filter:alpha(opacity=20);
	opacity: 0.2;	
	float: right;
}
.tx-tc-pvs-logobg {
	margin-right: 20px;
}
.tx-tc-pvs-logobg-ct {
	margin-right: 4px;
}
.tx-tc-pvs-next {
	float: left;
	margin-left: 12px;
	position: absolute;
	cursor: pointer;
}
.tx-tc-pvs-nopreviewpic {
	background: none repeat scroll 0 0 #FFFFFF;
	filter:alpha(opacity=60);
	opacity: 0.6;
	border: 1px solid #d6d6d6;
	border-radius: 4px 4px 4px 4px;
	display: block;
	float: right;
	margin-top: -2px;
	position: absolute;
	cursor: pointer;
}
.tx-tc-pvs-title {
	width: 85%;
}
.tx-tc-pvs-urltext {
}
.tx-tc-pvs-pvsnopreview {
	float: right;
	cursor: pointer;
	margin: 2px 2px 0 0;
}
.tx-tc-coc {
	float: right;
	cursor: pointer;
	margin: 2px 2px 0 0;

}
img.tx-tc-pvs-img{

}
.tx-tc-ct-ry-frame {
	border: 1px solid #E2E6E6;
	border-radius: 3px 3px 3px 3px;
	margin: 0;
	padding: 4px;
	font-size: 110%;
}
.tx-tc-ct-ry-frameover {
	border: 1px solid #E2E6E6;
	border-radius: 3px 3px 3px 3px;
	margin: 0;
	padding: 4px;
	font-size: 110%;
	min-height: 50px;
}
.tx-tc-ct-rybox-title {
	font-weight: bold;
	margin: 0 0 3px 0;
}
.tx-tc-ct-rybox-title {
	font-weight: bold;
	margin: 0 0 3px 0;
}
.tx-tc-ct-rybox {
	background: none repeat scroll 0 0 #252525;
	border: 1px solid #B2B6B6;
	border-radius: 3px 3px 3px 3px;
	margin: 0 -5px;
	padding: 2px 2px 4px;
}
.tx-tc-pvs-prev {
	float: left;
	position: absolute;
	cursor: pointer;
}
.tx-tc-pvs-desc {
	
}
.tx-tc-ct-form-field-wpp {
	padding-bottom: 2px;
	border-bottom: 1px solid #d6d6d6;
}
.tx-tc-ct-wpp {
	padding-bottom: 2px;
}
.tx-tc-pvs-title a {
	font-weight: bold;
}
div.toctoc-comments-pi1 .tx-tc-cts .tx-tc-ct-wpp .tx-tc-pvs-desc {
	/*width: 82%;*/
}
div.toctoc-comments-pi1 .tx-tc-cts .tx-tc-cts-dp div.tx-tc-cts-ct-dp .tx-tc-ct-box-cttxt div.tx-tc-ct-wpp div.tx-tc-pvs-desc {
	width: 100%;
}
.tx-tc-cts .tx-tc-ct-wpp {
	background: none repeat scroll 0 0 #050505;
	border: 1px solid #E2E6E6;
	border-radius: 3px 3px 3px 3px;
	margin: 0 0 0 6px;
	padding: 4px 4px 9px;
}
div.tx-tc-ct-box div.tx-tc-ct-box-cttxt div.tx-tc-ct-wpp {
	background: none repeat scroll 0 0 #090909;
	border: 1px solid #E2E6E6;
	border-radius: 3px 3px 3px 3px;
	margin: 0 0px 4px 4px;
	padding: 4px 4px 10px;
}
div.tx-tc-ct-box div.tx-tc-ct-box-cttxt div.tx-tc-ct-wpp div.tx-tc-pvs-images {
	border-right: 1px solid #D4D4D4;
}
div.tx-tc-pvs-images {
	height: 70px;
}
div.tx-tc-ct-pvs-images, div.tx-tc-pvs-images {
	float: left;
	margin: -4px 0;
	padding: 4px 0;
}
.tx-tc-atrts-dp .tx-tc-myrts-myrt {
	color: #888888;
	float: left;
	margin: 0 4px 0 1px;
	position: relative;
}
.tx-tc-rts-area {
	float: left;
	line-height: 18px;
	margin: 1px 0 0;
}
.tx-tc-rts-li, .tx-tc-rts-li-text {
	float: left;
}
.tx-tc-rts-li-text-hide {
	float: left;
	height: 0;
	/*visibility: hidden;*/
	display: none;
	width: 0;
}
.tx-tc-myrts-dp, .tx-tc-atrts-ilike-dp {
	float: left;
	left: 0;
	position: relative;
}
.tx-tc-atrtstop-ilike-dp {
	float: left;
	left: 2px;
	position: relative;
}
.tx-tc-atrtstop-ilike-dp-static {
	float: left;
	left: 2px;
	position: relative;
	margin: 1px 0 0 0;
}
.tx-tc-myrts-myrt {
	color: #888888;
	float: left;
	position: relative;
	margin: 0 4px 0 1px;
}
.tx-tc-ctdate, .tx-tc-myrts-vote-bar {
	float: left;
}
.tx-tc-myrts-text {
	color: #888888;
	margin: -16px 0 0;
	font-size: 11px;
}
.tx-tc-myrts-gold-bar {
	position: absolute;
	left: 0;
	top: -1px;
	width: 0px;
	height: 12px;
	background: url(toctoc_comments_myrating_star.png) repeat-x 0 0;
	font-size: 1px;
	font-size: 1px;
	z-index: 3;
}
.tx-tc-myrts-vote-bar {
	position: absolute;
	left: 0;
	top: 16px;
	width: 55px;
	height: 12px;
	font-size: 1px;
}
.tx-tc-myrts-vote-bar DIV A {
	left: 0;
	top: 16px;
	width: 11px;
	height: 12px;
	border: none;
	text-decoration: none;
}
.tx-tc-rts-dp {
	float: left;
	height: 12px;
	left: 4px;
	position: relative;
	top: 3px;
	width: 59px;
}
.tx-tc-rts-grey-bar {
	position: absolute;
	left: 0;
	top: 0;
	width: 55px;
	height: 12px;
	background: url(toctoc_comments_rating_stars.png) repeat-x;
	font-size: 1px;
}
.tx-tc-rts-gold-bar {
	position: absolute;
	left: 0;
	top: 0;
	width: 0px;
	height: 12px;
	background: url(toctoc_comments_rating_stars.png) repeat-x 0 -12px;
	font-size: 1px;
}
.tx-tc-rts-vote-bar {
	position: absolute;
	left: 0;
	top: 0;
	width: 55px;
	height: 12px;
	font-size: 1px;
}
.tx-tc-rts-vote-bar DIV A {
	position: absolute;
	left: 0;
	top: 0;
	width: 11px;
	height: 12px;
	border: none;
	text-decoration: none;
}
.tx-tc-rts-vote-bar DIV A:hover {
	background-image: url(toctoc_comments_rating_stars.png);
	background-position: 0 -24px;
}
.tx-tc-rts-vote-bar DIV A.tx-tc-rts-star-1 {
	left: 0px;
	width: 11px;
	z-index: 5;
}
.tx-tc-rts-vote-bar DIV A.tx-tc-rts-star-2 {
	left: 0px;
	width: 22px;
	z-index: 4;
}
.tx-tc-rts-vote-bar DIV A.tx-tc-rts-star-3 {
	left: 0px;
	width: 33px;
	z-index: 3;
}
.tx-tc-rts-vote-bar DIV A.tx-tc-rts-star-4 {
	left: 0px;
	width: 44px;
	z-index: 2;
}
.tx-tc-rts-vote-bar DIV A.tx-tc-rts-star-5 {
	left: 0px;
	width: 55px;
	z-index: 1;
}
.tx-tc-rts-cleaner {
	clear: left;
}
.tx-tc-rts-text {
	color: #888888;
	float: left;
	margin: 0 4px;
	position: relative;
}
.tx-tc-atrts-dp .tx-tc-rts-text {
	color: #888888;
	float: left;
	/*font-size: 11px;*/
	margin: 0 4px;
	position: relative;
}
.tx-tc-rt-dp-wrap {
	float: left;
	font-size: 11px;
	height: 16px;
	left: 0;
	top: 0;
	/*visibility: hidden;*/
	display: none;
	width: 0;
	z-index: 1;
}
.tx-tc-rt-dp-wrap IMG {
	float: left;
	margin-right: 5px;
}
.tx-tc-ct-ry-img {margin-right:8px;}
.tx-tc-ct-box-picturecrop322 img {
	float:left;
}
#confirm {display:none;}
/* Overlay */
#confirm-overlay {background-color:#ddd; cursor:wait;}

/* Container */
#confirm-container {height:114px; width:320px; font: 11px/12px; text-align:left; background:#fff; border:1px solid #d0d0d0;border-radius:3px;}
#confirm-container .header {height:26px; line-height:26px; width:100%; background:none repeat scroll 0 0 #5475C8; color:#fff; font-weight:bold; border:1px solid #d0d0d0;border-radius:3px;}
#confirm-container .header span {padding-left:8px;}
#confirm-container .message {color:#333; margin:0; padding:12px 4px 12px 8px;}
#confirm-container .buttons {line-height:26px; width:160px; float:right; padding:10px 8px 0;} 
#confirm-container .buttons div {float:right; margin-left:4px; width:70px; height:26px; color:#666; font-weight:bold; text-align:center; background: none repeat scroll 0 0 #5475C8;
	border: 1px solid #1D16AF;
	border-radius: 4px 4px 4px 4px;
	color: #FFFFFF;
	cursor: pointer;
} 
#confirm-container a.modal-close,
#confirm-container a.modal-close:link,
#confirm-container a.modal-close:active,
#confirm-container a.modal-close:visited {text-decoration:none; font-weight:bold; position:absolute; right:8px; top:4px; color:#fff;}
#confirm-container a.modal-close:hover {color:#ccc;}