<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Rating Template</title>
<!-- ###HEADER_PARTS### -->

<!-- ###ADDITIONAL_CSS### begin -->
<link rel="stylesheet" href="###CSS_FILE###" />
<!-- ###ADDITIONAL_CSS### end -->
<!-- ###HEADER_PARTS### -->
</head>

<body>

<h3>TEMPLATE RATING (WITH VOTING)</h3>
<em>This is the template for rating display and update (using jQuery)</em>

<!-- ###TEMPLATE_RATING### begin -->
<div class="tx-tc-rts-container">
	<div id="tx-tc-rts-dp-###REF###" class="tx-tc-rts-li">
		<div class="tx-tc-rts">
			###COMMENT_DATE###
			<div class="tx-tc-rts-dp###HIDEVOTE###">
				<div class="tx-tc-myrts-gold-bar" style="width: ###MYBAR_WIDTH###px;left: ###MYBAR_LEFT###px"></div>
				<div class="tx-tc-rts-grey-bar"></div>
				<div class="tx-tc-rts-gold-bar" style="width: ###BAR_WIDTH###px"></div>
				<div class="tx-tc-rts-vote-bar">
					<div>
						###VOTE_LINKS###
					</div>
					<div class="tx-tc-rts-cleaner"></div>
				</div>
			</div>
			<div class="tx-tc-rts-text###HIDEVOTE###">
				###RATING###
				<!--  <br />
				###TEXT_RATING_TIP###-->
			</div>
			<div class="tx-tc-myrts-myrt###HIDEVOTE###">###MYRATING###</div>
		</div>	
	</div>		
	###MYILIKE_AREA###	
</div>
<!-- ###TEMPLATE_RATING### end -->

<!-- ###TEMPLATE_MYRATING### start -->
<div id="tx-tc-myrts-###REF###" class="tx-tc-rts-area">
	<div id="tx-tc-myrts-dp-###REF###" class="tx-tc-rts-li">
		<div class="tx-tc-myrts-dp">
			<div class="tx-tc-myrts-ilke">###MYILIKE######MYILIKETEXT###</div>
			<div class="tx-tc-myrts-disilke">###MYIDISLIKE######MYIDISLIKETEXT###</div>
		</div>
	</div>
</div>
<!-- ###TEMPLATE_MYRATING### end -->
<!-- ###TEMPLATE_MYRATING_TOP### start -->
	<div id="tx-tc-myrts-dp-###REF###" class="tx-tc-rts-li">
		<div class="tx-tc-myrts-dp">
			<div class="tx-tc-myrts-ilke">###MYILIKE######MYILIKETEXT###</div>
			<div class="tx-tc-myrts-disilke">###MYIDISLIKE######MYIDISLIKETEXT###</div>
		</div>
	</div>
<!-- ###TEMPLATE_MYRATING_TOP### end -->

<!-- ###TEMPLATE_RATING_STATIC### begin -->
<div class="tx-tc-rts-container">
	<div id="tx-tc-rts-dp-###REF###" class="tx-tc-rts-li">
		<div class="tx-tc-rts">
			###COMMENT_DATE###
			<div class="tx-tc-rts-dp###HIDEVOTE###">
				<div class="tx-tc-myrts-gold-bar" style="width: ###MYBAR_WIDTH###px;left: ###MYBAR_LEFT###px"></div>
				<div class="tx-tc-rts-grey-bar"></div>
				<div class="tx-tc-rts-gold-bar" style="width: ###BAR_WIDTH###px"></div>
				<div class="tx-tc-rts-vote-bar">
					<div class="tx-tc-rts-cleaner"></div>
				</div>
			</div>
			<div class="tx-tc-rts-text###HIDEVOTE###">
				###RATING###
				<!--  <br />
				###TEXT_RATING_TIP###-->
			</div>
			<div class="tx-tc-myrts-myrt###HIDEVOTE###">###MYRATING###</div>
		</div>
	</div>
	###MYILIKE_AREA###
</div>
<!-- ###TEMPLATE_RATING_STATIC### end -->

<!-- ###TEMPLATE_MYRATING_STATIC### begin -->
<div id="tx-tc-myrts-###REF###" class="tx-tc-rts-area">
	<div id="tx-tc-myrts-dp-###REF###" class="tx-tc-rts-li">
		<div class="tx-tc-myrts-dp">
			<div class="tx-tc-myrts-ilke">###MYILIKE######MYILIKETEXT###</div>
			<div class="tx-tc-myrts-disilke">###MYIDISLIKE######MYIDISLIKETEXT###</div>
		</div>
	</div>
	         
</div>
<!-- ###TEMPLATE_MYRATING_STATIC### end -->

<!-- ###VOTE_LINK_SUB### begin -->
<a href="javascript:void(0)" rel="nofollow" class="tx-tc-rts-star-###VALUE###" onclick="toctoc_comments_submit('###REF###', ###VALUE###, commentsAjaxData###CID###, '###CHECK###', 'vote', 'rts', commentsAjaxDataImg###CID###,###CID###);return false"></a>
<!-- ###VOTE_LINK_SUB### end -->

<!-- ###VOTE_LINKARTICLE_SUB### begin -->
<a href="javascript:void(0)" rel="nofollow" class="tx-tc-rts-star-###VALUE###" onclick="toctoc_comments_submit('###REF###', ###VALUE###, commentsAjaxData###CID###, '###CHECK###', 'votearticle', 'rts', commentsAjaxDataImg###CID###,###CID###);return false"></a>
<!-- ###VOTE_LINKARTICLE_SUB### end -->

<!-- ###ILIKE_STATIC_SUB### begin -->
<span class="tx_toctoc_comments_static_ilike">###CONTENT###</span>
<!-- ###ILIKE_STATIC_SUB### end -->

<!-- ###ILIKE_LINK_SUB### begin -->
<a href="javascript:void(0)" rel="nofollow" class="tx-tc-rts-star-###VALUE###" onclick="toctoc_comments_submit('###REF###', ###VALUE###, commentsAjaxData###CID###, '###CHECK###', 'like', 'myrts', commentsAjaxDataImg###CID###,###CID###);return false">###CONTENT###</a>
<!-- ###ILIKE_LINK_SUB### end -->

<!-- ###IDISLIKE_LINK_SUB### begin -->
<a href="javascript:void(0)" rel="nofollow" class="tx-tc-rts-star-###VALUE###" onclick="toctoc_comments_submit('###REF###', ###VALUE###, commentsAjaxData###CID###, '###CHECK###', 'unlike', 'myrts', commentsAjaxDataImg###CID###,###CID###);return false">###CONTENT###</a>
<!-- ###IDISLIKE_LINK_SUB### end -->

<!-- ###ILIKE_LINKTOP_SUB### begin -->
<a href="javascript:void(0)" rel="nofollow" class="tx-tc-rts-star-###VALUE###" onclick="toctoc_comments_submit('###REF###', ###VALUE###, commentsAjaxData###CID###, '###CHECK###', 'liketop', 'myrts', commentsAjaxDataImg###CID###,###CID###);return false">###CONTENT###</a>
<!-- ###ILIKE_LINKTOP_SUB### end -->

<!-- ###IDISLIKE_LINKTOP_SUB### begin -->
<a href="javascript:void(0)" rel="nofollow" class="tx-tc-rts-star-###VALUE###" onclick="toctoc_comments_submit('###REF###', ###VALUE###, commentsAjaxData###CID###, '###CHECK###', 'unliketop', 'myrts', commentsAjaxDataImg###CID###,###CID###);return false">###CONTENT###</a>
<!-- ###IDISLIKE_LINKTOP_SUB### end -->

<!-- ###COMMENT_DATE_SUB### begin -->
<div class="tx-tc-ctdate">###COMMENT_DATE###</div>
<!-- ###COMMENT_DATE_SUB### end -->

<!-- ###TEMPLATE_MYARTICLERATING_TOP### start -->
<div id="tx-tc-myrtstop-dp-###REF###" class="tx-tc-rts-li-text###HIDECSS###">
	<div class="tx-tc-atrtstop-ilike-dp">###MYILIKETEXT######MYIDISLIKETEXT###</div>
</div>
<!-- ###TEMPLATE_MYARTICLERATING_TOP### end -->


This is redundant to the commentns ratings
<!-- ###SHOWUCLINK_SUB### begin -->
show_uc(###COMMENT_ID###,###CID###,commentsAjaxData###CID###,'###TOCTOCUID###','###IMGBENC###',###TIMEOUTMS###);return false
<!-- ###SHOWUCLINK_SUB### end -->

<!-- ###SHOWUC_SUB### begin -->
<div class="tx-tc-ct-uc" id="tx-tc-cts-uc-###COMMENT_ID###" style="font-size:###FONTSIZE###;line-height:###LINEHEIGHT###;">
<div class="tx-tc-ct-box-ctclose">
         <a href="javascript:void(0)" rel="nofollow" onclick="toctoc_comments_uc_close(###COMMENT_ID###);">
	         <label class="tx-tc-ucclose tx-tc-CloseButton tx-tc-CloseButtonSmall" for="ux76myu8###COMMENT_ID###">
				<input id="ux76myu8###COMMENT_ID###" type="button" title="Close">
			</label>
		</a>
</div>
<div id="tx-tc-cts-uc-inner-###COMMENT_ID###">
</div>
</div>
<!-- ###SHOWUC_SUB### end -->


</body>
</html>
