<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Rating Template</title>
<!-- ###HEADER_PARTS### -->

<!-- ###ADDITIONAL_CSS### begin -->
<link rel="stylesheet" href="###CSS_FILE###" />
<!-- ###ADDITIONAL_CSS### end -->
<!-- ###HEADER_PARTS### -->
</head>

<body>

<h3>TEMPLATE RATING (WITH VOTING)</h3>
<em>This is the template for rating display</em>

<!-- ###TEMPLATE_RATING### begin -->
###MYILIKE_AREA###
<div class="tx-tc-rts-container">

	<div id="tx-tc-rts-dp-###REF###" class="tx-tc-rts-li">
		<div class="tx-tc-rts">
			###COMMENT_DATE###
			<div class="tx-tc-rts-dp###HIDEVOTE###">
				<div class="tx-tc-myrts-gold-bar" style="width: ###MYBAR_WIDTH###px;left: ###MYBAR_LEFT###px"></div>
				<div class="tx-tc-rts-grey-bar"></div>
				<div class="tx-tc-rts-gold-bar" style="width: ###BAR_WIDTH###px"></div>
				<div class="###CLASSVOTEBARREVIEW###">
					<div>
						###VOTE_LINKS###
					</div>
					<div class="tx-tc-rts-cleaner"></div>
				</div>
			</div>
			<div class="tx-tc-rts-text###HIDEVOTE###">
				###RATING###
				<!--  <br />
				###TEXT_RATING_TIP###-->
			</div>
			<div class="tx-tc-myrts-myrt###HIDEVOTEMYRATING###">###MYRATING###</div>
		</div>
	</div>		
	
</div>
<!-- ###TEMPLATE_RATING### end -->

<!-- ###TEMPLATE_MYRATING### start -->
<div id="tx-tc-myrts-###REF###" class="tx-tc-rts-area">
	<div id="tx-tc-myrts-dp-###REF###" class="tx-tc-rts-li">
		<div class="tx-tc-myrts-dp">
			<div class="tx-tc-myrts-ilke">###MYILIKE######MYILIKETEXT###</div>
			<div class="tx-tc-myrts-disilke">###MYIDISLIKE######MYIDISLIKETEXT###</div>
		</div>
	</div>
</div>###BRFORFIRSTSCOPE###
<!-- ###TEMPLATE_MYRATING### end -->
<!-- ###TEMPLATE_MYRATING_TOP### start -->
	<div id="tx-tc-myrts-dp-###REF###" class="tx-tc-rts-li">
		<div class="tx-tc-myrts-dp">
			<div class="tx-tc-myrts-ilke">###MYILIKE######MYILIKETEXT###</div>
			<div class="tx-tc-myrts-disilke">###MYIDISLIKE######MYIDISLIKETEXT###</div>
		</div>
	</div>
<!-- ###TEMPLATE_MYRATING_TOP### end -->

<!-- ###TEMPLATE_RATING_STATIC### begin -->
###MYILIKE_AREA###	
<div class="tx-tc-rts-container">

	<div id="tx-tc-rts-dp-###REF###" class="tx-tc-rts-li">
		<div class="tx-tc-rts">
			###COMMENT_DATE###
			<div class="tx-tc-rts-dp###HIDEVOTE###">
				<div class="tx-tc-myrts-gold-bar" style="width: ###MYBAR_WIDTH###px;left: ###MYBAR_LEFT###px"></div>
				<div class="tx-tc-rts-grey-bar"></div>
				<div class="tx-tc-rts-gold-bar" style="width: ###BAR_WIDTH###px"></div>
				<div class="###CLASSVOTEBAR###">
					<div class="tx-tc-rts-cleaner"></div>
				</div>
			</div>
			<div class="tx-tc-rts-text###HIDEVOTE###">
				###RATING###
				<!--  <br />
				###TEXT_RATING_TIP###-->
			</div>
			<div class="tx-tc-myrts-myrt###HIDEVOTEMYRATING###">###MYRATING###</div>
		</div>
	</div>
	
</div>
<!-- ###TEMPLATE_RATING_STATIC### end -->

<!-- ###TEMPLATE_MYRATING_STATIC### begin -->
<div id="tx-tc-myrts-###REF###" class="tx-tc-rts-area">
	<div id="tx-tc-myrts-dp-###REF###" class="tx-tc-rts-li">
		<div class="tx-tc-myrts-dp">
			<div class="tx-tc-myrts-ilke">###MYILIKE######MYILIKETEXT###</div>
			<div class="tx-tc-myrts-disilke">###MYIDISLIKE######MYIDISLIKETEXT###</div>
		</div>
	</div>
	         
</div>###BRFORFIRSTSCOPE###
<!-- ###TEMPLATE_MYRATING_STATIC### end -->

<!-- ###VOTE_LINK_SUB### begin -->
<a title="###APIRATINGTIP###" id="tx-tc-rts-star-v-###VALUE###__###REF###__###CID###__###CHECK###" href="javascript:void(0)" rel="nofollow" class="tx-tc-rts-star-v tx-tc-rts-star-###VALUE###"></a>
<!-- ###VOTE_LINK_SUB### end -->

<!-- ###VOTE_LINK_SUB_OVERALLVOTE### begin -->
<span title="###APIRATINGTIP###" id="tx-tc-rts-star-v-###VALUE###__###REF###__###CID###__###CHECK###" class="tx-tc-rts-star-v tx-tc-rts-star-###VALUE### tx-tc-idrep"></span>
<!-- ###VOTE_LINK_SUB_OVERALLVOTE### end -->

<!-- ###VOTE_LINKARTICLE_SUB### begin -->
<a href="javascript:void(0)" rel="nofollow" id="tx-tc-rts-star-v-###VALUE###__###REF###__###CID###__###CHECK###" class="tx-tc-rts-star-v tx-tc-rts-star-###VALUE###"></a>
<!-- ###VOTE_LINKARTICLE_SUB### end -->

<!-- ###VOTE_LINKARTICLE_SUB_OVERALLVOTE### begin -->
<span title="###APIRATINGTIP###" id="tx-tc-rts-star-v-###VALUE###__###REF###__###CID###__###CHECK###" class="tx-tc-rts-star-v tx-tc-rts-star-###VALUE### tx-tc-idrep"></span>
<!-- ###VOTE_LINKARTICLE_SUB_OVERALLVOTE### end -->

<!-- ###ILIKE_STATIC_SUB### begin -->
<div class="tx_toctoc_comments_static_ilike###CONTENTADDCSS###">###CONTENT###</div>
<!-- ###ILIKE_STATIC_SUB### end -->

<!-- ###ILIKE_LINK_SUB### begin -->
<a href="javascript:void(0)" rel="nofollow" id="tx-tc-rts-star-l-###VALUE###__###REF###__###CID###__###CHECK###__like###IDEMO###" ###TITLE### class="tx-tc-rts-star-like tx-tc-rts-star-l tx-tc-rts-star-###VALUE######CSSEMO###"><i class="tx-tc-emo-button-i###CSSEMO###"></i><span>###CONTENT###</span></a>
<!-- ###ILIKE_LINK_SUB### end -->

<!-- ###IDISLIKE_LINK_SUB### begin -->
<a href="javascript:void(0)" rel="nofollow" id="tx-tc-rts-star-l-###VALUE###__###REF###__###CID###__###CHECK###__unlike###IDEMO###" ###TITLE### class="tx-tc-rts-star-unlike tx-tc-rts-star-l tx-tc-rts-star-###VALUE###"><i class="tx-tc-emo-button-i"></i><span>###CONTENT###</span></a>
<!-- ###IDISLIKE_LINK_SUB### end -->

<!-- ###ILIKE_LINKTOP_SUB### begin -->
<a href="javascript:void(0)" rel="nofollow" id="tx-tc-rts-star-l-###VALUE###__###REF###__###CID###__###CHECK###__liketop" ###TITLE### class="tx-tc-rts-star-liketop tx-tc-rts-star-l tx-tc-rts-star-###VALUE###">###CONTENT###</a>
<!-- ###ILIKE_LINKTOP_SUB### end -->

<!-- ###IDISLIKE_LINKTOP_SUB### begin -->
<a href="javascript:void(0)" rel="nofollow" id="tx-tc-rts-star-l-###VALUE###__###REF###__###CID###__###CHECK###__unliketop" ###TITLE### class="tx-tc-rts-star-unliketop tx-tc-rts-star-l tx-tc-rts-star-###VALUE###">###CONTENT###</a>
<!-- ###IDISLIKE_LINKTOP_SUB### end -->

<!-- ###COMMENT_DATE_SUB### begin -->
<div class="tx-tc-ctdate" id="tx-tc-ctdatedisp-###COMMENTID###">###COMMENT_DATE###</div>###COMMENTVIEWS###<div id="tx-tc-ctdatetime-###COMMENTID###" class="tx-tc-nodisp">###COMMENT_TIMESTAMP###</div>
<!-- ###COMMENT_DATE_SUB### end -->

at the end a couple of redundant subtemplates (performance question))

<!-- ###TEMPLATE_MYARTICLERATING_TOP### start -->
<div id="tx-tc-myrtstop-dp-###REF###" class="tx-tc-rts-li-text###HIDECSS###">
	<div class="tx-tc-atrtstop-ilike-dp">###MYILIKETEXT######MYIDISLIKETEXT###</div>
</div>###EMOPOPUP###
<!-- ###TEMPLATE_MYARTICLERATING_TOP### end -->

<h4>Subtemplate for emolike popup</h4>
<!-- ###SUBEMOPOPUP### begin -->
<div id="tx-tc-emolike-popup-###REF###" class="tx-tc-emolike-popup tx-tc-nodisp">
	<div id="tx-tc-abs0-###REF###" class="tx-tc-abs0">
		<div class="tx-tc-emolike-popup-uiLayer">
			<div class="tx-tc-emolike-popup-uiLayer-l2">
				<div data-reactroot="" class="tx-tc-emlp-panel">
					<div class="tx-tc-emlp-toolbar">
###SUBEMOICONS###
					</div>
					<div class="tx-tc-emlp-end">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ###SUBEMOPOPUP### end -->
<!-- ###SUBEMOPOPUPICON### begin -->
<div class="tx-tc-emlp-span tx-tc-disp-inlblock">
	<div class="tx-tc-emlp-dvl1###CSSDLIKE###" id="tx-tc-emlp-###REF###__###EMOUID###__###CID###__###CHECK###">
		<div class="tx-tc-emlp-dvl2###CSSSELEMO###" id="tx-tc-emlp-2-###REF###-###SORT###">
			<i id="tx-tc-emlp-2-###REF###__###EMOUID###__###CID###__###CHECK###" class="tx-tc-emlp-im-###SORT### tx-tc-emlp-il2"></i>
			<div id="tx-tc-emlp-2-tipp-###REF###__###EMOUID###__###CID###__###CHECK###" class="tx-tc-emoicontipp"><span>###EMOTITLE###</span></div>							
		</div>
	</div>
</div>
<!-- ###SUBEMOPOPUPICON### end -->

<!-- ###SUBEMORESLTICON### begin -->
<span title="###TIPPTEXTNBRUSERSEMO###" class="tx-tc-emorep-27jf tx-tc-emorep-3emk" id="tx-tc-emlr-2-###REF###-###SORT###">
	<i class="tx-tc-emlp-im-1 tx-tc-emorep-im-###SORT### tx-tc-emorep-2p78 tx-tc-emorep-2p7a tx-tc-emorep-4-op"></i>
	<span class="tx-tc-emorep-3chu">###NBRUSERSEMO###</span>
</span>
<!-- ###SUBEMORESLTICON### end -->

<!-- ###SUBEMORESLT### begin -->
<div id="tx-tc-atrts-emo-dp-###REF###" class="tx-tc-atrts-dp">
	<div id="tx-tc-rts-emo-###REF###" class="tx-tc-rts-area">
		<div id="tx-tc-myrts-###REF###" class="tx-tc-rts-area">
			<div id="tx-tc-myrts-dp-###REF###" class="tx-tc-rts-li">
				<div class="tx-tc-myrts-dp">
					<div id="tx-tc-emorep-UFIRow-###REF###" class="tx-tc-emorep-UFIRow tx-tc-emorep-UFILikeSentence tx-tc-emorep-UFI4204 tx-tc-emorep-UFI4dr">
						<div class="clearfix">
							<div class="tx-tc-emorep-UFI-l1-d1 tx-tc-emorep-rfloat">
							</div>
							<div class="">
								<div class="tx-tc-emorep-ipp">
									<div class="tx-tc-emorep-3t53 tx-tc-emorep-4arr tx-tc-emorep-ipn">
										<div class="tx-tc-emorep-3t54 tx-tc-disp-inlblock">
										###SUBEMORESLTICONS###
										</div>
										<div class="tx-tc-emorep-2x4v tx-tc-disp-inlblock">
											<div title="###TIPPTEXTWHOREACTED###" class="tx-tc-emorep-1g5v tx-tc-textlink tx-tc-disp-inlblock">
												<div class="tx-tc-disp-inlblock" id="tx-tc-totalreactsnbr-###REF###__###CID###">###TOTALNBRUSERS###</div>
											</div>
											<div class="tx-tc-emorep-4arz tx-tc-disp-inlblock">
												<div  class="tx-tc-disp-inlblock" id="tx-tc-totalreactstxt-###REF###">###TOTALUSERSTEXT###</div>
											</div>
										</div>
									</div>
									###EMOOVERVIEW###
								</div>
							</div>
						</div>
					</div>		
				</div>		
			</div>
		</div>
	</div>		
</div>
<!-- ###SUBEMORESLT### end -->

<h4>Subtemplate for emolike overview</h4>
<!-- ###SUBEMOOVRVW### begin -->
<div class="tx-tc-emolike-overview">
</div>
<!-- ###SUBEMOOVRVW### end -->

This is redundant to the comments ratings

<!-- ###SHOWUC_SUB### begin -->
<div class="tx-tc-ct-uc" id="tx-tc-cts-uc-###COMMENT_ID###">
	<div class="tx-tc-ct-uc-pic2" id="tx-tc-cts-uc-pic2-###COMMENT_ID###">###PCEHDRPIC###</div>
	<div class="tx-tc-ct-box-ctclose">
		<span id="tx-tc-cts-uc-cls-###COMMENT_ID###" class="tx-tc-ucclose tx-tc-CloseButton" title="###TXTCLOSE###"></span>
	</div>
	<div class="tx-tc-ucinner" id="tx-tc-cts-uc-inner-###COMMENT_ID###"></div>
</div>
<!-- ###SHOWUC_SUB### end -->

<!-- ###SHOWEMOUSERS_SUB### begin -->
<div class="tx-tc-ct-emolikeoverview" id="tx-tc-cts-emolikeoverview-###CID###">
	<div class="tx-tc-ct-box-ctclose" id="tx-tc-cts-emolikeclose-###CID###">
		<span id="tx-tc-cts-emolikeoverview-cls-###CID###" class="tx-tc-emolikeoverviewclose tx-tc-CloseButton" title="###TXTCLOSE###"></span>
	</div>
	<div class="tx-tc-emolikeoverviewinner" id="tx-tc-cts-emolikeoverview-inner-###CID###">
	</div>
</div>
<!-- ###SHOWEMOUSERS_SUB### end -->
</body>
</html>




































